@charset "utf-8";
/*css reset*/
html,body,h1,h2,h3,ul,li,ol,p,img,input,button,table {
    padding: 0;
    margin: 0;
}
body {
    font:12px/1 "microsoft yahei","arial";
    color:#333;
    background-color: #fff;
    min-width: 784px;
}
h1,h2,h3 {
    font-size: 12px;
    font-weight: normal;
    text-decoration: none;
}
ul,ol {
    list-style: none;
}
img {
    display: block;
    vertical-align: middle;
    border: none;
}
input,button {
    outline: none;
    border: none;
}
a {
    text-decoration: none;
    color: #333;
}
s,i,b,u {
    font-style: normal;
    text-decoration: none;
    font-weight: normal;
}
.clearfix::after {
    content: '';
    display: block;
    height: 0;
    line-height: 0;
    visibility: hidden;
    clear: both;

}
.clearfix {
    zoom:1;
}
.fl {
    float: left;
}
.fr {
    float: right;
}





