@charset "utf-8";

/*reset css*/

*,
::before,
::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    font-size: 1.4rem;
    font-family: "microsoft yahei", "Airal", "sunsim";
    color: #333;
    background-color: #f1f1f1;
}

a {
    color: #333;
    text-decoration: none;
}

a:hover {
    color: #333;
}

img {
    display: block;
}

h1,
h2,
h3 {
    text-decoration: none;
    font-weight: normal;
    font-size: 100%;
}

ol,
ul {
    list-style: none;
}

input,
textarea {
    border: none;
    outline: none;
    resize: none;
    appearance: none;
    -webkit-appearance: none;
}

.fl {
    float: left;
}

.fr {
    float: right;
}

.clearfix::after {
    content: '';
    height: 0;
    line-height: 0;
    display: block;
    visibility: hidden;
    clear: both;
}


/*文字超出省略*/

.text_overflow {
    white-space: nowrap;
    text-overflow: ellipsis;
    -o-text-overflow: ellipsis;
    overflow: hidden;
}


/*图片模糊处理*/

.blur {
    -webkit-filter: blur(3px);
    /* Chrome, Opera */
    -moz-filter: blur(3px);
    -ms-filter: blur(3px);
    filter: blur(3px);
    filter: progid: DXImageTransform.Microsoft.Blur(PixelRadius=3, MakeShadow=false);
    /* IE6~IE9 */
}

/*@media only screen and (max-width: 374px) {
    .word a {
        display: none !important;
    }
    .word {
        height: 8rem !important;
    }
}*/

@media only screen and (min-width: 481px) {
    html {
        font-size: 75% !important;
    }
}

@media only screen and (min-width: 561px) {
    html {
        font-size: 88%!important;
        /*font-size: 109%!important;*/
    }
}

@media only screen and (min-width: 641px) {
    html {
        font-size: 100%!important;
        /*font-size: 125%!important;*/
    }
}
